<launch>

	<node name="JI_armr" pkg="silva_beta" type="joint_interface.py" args="armr" />

	<node name="JI_neck" pkg="silva_beta" type="joint_interface.py" args="neck"/>

	<node name="JI_arml" pkg="silva_beta" type="joint_interface.py" args="arml"/>

	<node name="JI_headl" pkg="silva_beta" type="joint_interface.py" args="headl"/>

	<node name="JI_headc" pkg="silva_beta" type="joint_interface.py" args="headc"/>

	<node name="JI_headr" pkg="silva_beta" type="joint_interface.py" args="headr"/>

	<node name="JI_handl" pkg="silva_beta" type="joint_interface.py" args="handl"/>

	<node name="JI_handr" pkg="silva_beta" type="joint_interface.py" args="handr"/>

	<node name="JI_hip" pkg="silva_beta" type="joint_interface.py" args="hip"/>

	<node name="AJI_wheel" pkg="silva_beta" type="joint_interface.py" args="wheel"/>

	<node name="IRSA_FUSION" pkg="silva_beta" type="pmemory.py" />

	<node name="filter_IDLE" pkg="silva_beta" type="idle.py" />
	<node name="filter_REFLEX" pkg="silva_beta" type="reflex.py" />
	<node name="filter_SLAVE" pkg="silva_beta" type="slave.py" />
	<node name="filter_AUTO" pkg="silva_beta" type="auto.py" />
</launch>
