<?xml version="1.0" encoding="utf-8"?>
<launch>



	<node name="IRSA_FUSION" pkg="silva_beta" type="pmemory.py" />

	<node name="filter_IDLE" pkg="silva_beta" type="idle.py" />
	<node name="filter_REFLEX" pkg="silva_beta" type="reflex.py" />
	<node name="filter_SLAVE" pkg="silva_beta" type="slave.py" />
	<node name="filter_AUTO" pkg="silva_beta" type="auto.py" />
</launch>
