<?xml version="1.0" encoding="utf-8"?>
<launch>

	<node name="Int_armr" pkg="silva_beta" type="internal_sensors.py" args="armr" />
	<node name="Int_neck" pkg="silva_beta" type="internal_sensors.py" args="neck" />
	<node name="Int_arml" pkg="silva_beta" type="internal_sensors.py" args="arml" />
	<node name="Int_handl" pkg="silva_beta" type="internal_sensors.py" args="handl" />
	<node name="Int_handr" pkg="silva_beta" type="internal_sensors.py" args="handr" />
	<node name="Int_hip" pkg="silva_beta" type="internal_sensors.py" args="hip" />

</launch>
