<?xml version="1.0" encoding="utf-8"?>
<launch>

	<node name="EYE_IDLEGEN" pkg="ibuki_extra" type="blink.py" />
	<node name="NECK_IDLEGEN" pkg="ibuki_extra" type="tanh.py" args="neck"/>
	<node name="ARML_IDLEGEN" pkg="ibuki_extra" type="tanh.py" args="arml"/>
	<node name="ARMR_IDLEGEN" pkg="ibuki_extra" type="tanh.py" args="armr"/>
	<node name="HEADR_IDLEGEN" pkg="ibuki_extra" type="tanh.py" args="headr"/>
	<node name="HEADC_IDLEGEN" pkg="ibuki_extra" type="headc.py" />
	<node name="HEADL_IDLEGEN" pkg="ibuki_extra" type="tanh.py" args="headl"/>
	<node name="HIP_IDLEGEN" pkg="ibuki_extra" type="hip.py" args="hip"/>

</launch>
