<?xml version="1.0" encoding="utf-8"?>
<launch>

	<node name="Mixer" pkg="silva_core" type="mixer.py" args="ibuki" output="screen"/>
	<node name="Idle" pkg="silva_core" type="idle.py" args="ibuki" output="screen"/>
	<node name="Reflex" pkg="silva_core" type="reflex.py" args="ibuki" output="screen"/>
	<node name="Slave" pkg="silva_core" type="slave.py" args="ibuki" output="screen"/>
	<node name="Auto" pkg="silva_core" type="auto.py" args="ibuki" output="screen"/>
</launch>
